<h2>Grocery List</h2>
<% if @recipes.count > 0 then %>
  <% @recipes.each do |recipe| %>
    <h3><%= Recipe.find(recipe.recipe_id).name%></h3>
    <%= simple_format(Recipe.find(recipe.recipe_id).ingredients) %>
    <br>
  <% end %>
<% else %>
  <p>There are no recipes in this meal plan.</p>
<% end %>
