<h1>Meal Plans</h1>

<br>
<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Finished?</th>
    </tr>
  </thead>
  <tbody>
    <% @meal_plans.each do |meal_plan| %>
    <tr>
      <td><%= link_to meal_plan.name, meal_plan%></td>
      <td><%= meal_plan.finished == true ? "Ordered" : "Incomplete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
