<h2>Meal Plan for <%= @meal_plan.name %></h2>
<br>
<h4>This meal plan has <%= "not" if @meal_plan.finished == false %>
  been ordered </h4>
<br>
<h4>Meal Plan Items:</h4>
<br>
  <% @meal_plan_recipe_items.each do |item| %>
    <h5><%= item.category.name %></h5>
    <h6><%= item.recipe.name %></h6>
  <% end %>
<br>
<% if @meal_plan.finished == false %>
  <%= button_to 'Mark as Ordered', update_finished_meal_plan_path(meal_plan_id: @meal_plan) %>
<% end %>

<footer class = "footer">
	<nav>
		<ul>
			<li><%= link_to 'Grocery List', grocery_list_meal_plan_path %></li>
		</ul>
	</nav>
</footer>
