<div class="row">
  <div class="span6 offset3">
		<%= form_for (recipe) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control'%>
			<br>
			<%= f.label :ingredients %>
			<%= f.text_area :ingredients, rows: "10", class: 'form-control' %>
			<br>
			<%= f.label :directions %>
			<%= f.text_area :directions, rows: "10", class: 'form-control' %>
			<br>
      <%= f.label :notes %>
      <%= f.text_area :notes, rows: "5", class: 'form-control' %>
      <br>
      <%= f.label :source %>
      <%= f.text_field :source, class: 'form-control' %>
      <br>
      <%= f.label :recipe_status %>
      <%= f.select :recipe_status, Recipe::RECIPE_STATUS, class: 'form-control' %>
      <br><br>
			<%= f.submit button + " Recipe", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
