<h1>Recipes</h1>
<h3><%=link_to 'Add a New Recipe', new_recipe_path %></h3>
<br>
<%= form_tag(recipes_path, :method => "get") do %>
    <%= text_field_tag :recipe_contains, params[:recipe_contains],
        placeholder: "Search Recipe Name" %>
    <%= text_field_tag :ingredients_contains, params[:ingredients_contains],
        placeholder: "Search Ingredients" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link "Name" %></th>
      <th><%= sort_link "Source" %></th>
      <th>Recipe Status</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, recipe %></td>
      <td><%= source_name(recipe.source) %></td>
      <td><%= recipe.recipe_status %></td>
      <td>
        <%= recipe.tags.collect {|c| c.name}.join('<br>').html_safe %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

<% if @recipes.count != Recipe.count %>
  <%= link_to "All Recipes", recipes_path %>
<% end %>
