<div class = "recipe-name">
	<h1>
		<%= @recipe.name %>
	</h1>
</div>

<div id = "contentbox">
	<div class = "ingredients">
		<h2>Ingredients</h2>
			<%= simple_format(@recipe.ingredients) %>
		<br>
	</div>

	<div class = "directions">
		<h2>Directions</h2>
			<%= simple_format(@recipe.directions) %>
		<br>
	</div>
</div>

<div class = "notes">
	<h2>Notes</h2>
		<%= @recipe.notes %>


<%if @recipe.source != nil %>
	<h3>Source</h3>
	<%= link_to source_name(@recipe.source), @recipe.source %>
<% end %>
<br>

<h2>Tags</h2>
	<% if @recipe.tags.empty? %>
		<p>There are no recipe tags</p>
	<% else %>
		<% @recipe.tags.each do |tag| %>
			<%= tag.name %><br>
		<% end %>
	<% end %>

<h3>Recipe Status</h3>
	<%= @recipe.recipe_status %>
<br>
</div>

<br>
<br>
<%= button_to 'Add to Meal Plan', meal_plan_recipe_items_path(recipe_id: @recipe) %>


<footer class = "footer">
	<nav>
		<ul>
			<li><%= link_to 'Back', recipes_path %></li>
			<li><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></li>
			<li><%= link_to 'Add/Edit Tags', tags_recipe_path(@recipe) %></li>
		</ul>
	</nav>
</footer>
