<h1><%=@recipe.name%>'s Tags</h1>

<h3>Remove Tags</h3>
<% if @tags.count > 0 then %>
  <%= form_tag (tag_remove_recipe_path(@recipe)) do %>
    <table>
      <thead>
        <th>Tag</th>
        <th>Remove?</th>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
        <tr>
          <td><%=tag.name %></td>
          <td><%= check_box_tag "tags[]", tag.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  <%= submit_tag "Remove Tag(s)" %>
  <% end %>
<% else %>
  <p>No tags yet</p>
<% end %>

<h3>Add Tags</h3>
<% if @recipe.tags.count < Tag.count then %>
  <%= form_tag(tag_add_recipe_path(@recipe)) do %>
    <%= select_tag(:tag, options_from_collection_for_select(Tag.all.order("name") - @recipe.tags, :id, :name)) %>
    <%= submit_tag "Add Tag" %>
  <% end %>
<% else %>
  <p>This recipe has all tags</p>
<% end %>

<footer class = "footer">
  <nav>
		<ul>
		  <li><%= link_to 'Back', recipe_path(@recipe) %></li>
    </ul>
	</nav>
</footer>
