<div class = "row">
  <div class = "span6 offset3">
    <br>
    <%= form_for (pantry_item) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br><br>
      <%= f.submit button + " Pantry Item", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>
