<h1>All Pantry Items</h1>
<%= link_to "New Pantry Item", new_pantry_item_path %>
<br>
<br>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Pantry Item</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @pantry_items.each do |pantry_item| %>
      <tr>
        <td><%= link_to pantry_item.name, pantry_item %></td>
        <td><%= pantry_item.tags.collect {|c| c.name}.join('<br>').html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>
