<h1><%= @pantry_item.name %>'s Tags</h1>

<h3>Remove Tags</h3>
<% if @tags.count > 0 then %>
  <%= form_tag (tag_remove_pantry_item_path(@pantry_item)) do %>
    <table>
      <thead>
        <th>Remove?</th>
        <th>Tag</th>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= check_box_tag "tags[]", tag.id %></td>
            <td><%=tag.name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  <%= submit_tag "Remove Tag(s)" %>
  <% end %>
<% else %>
  <p>No tags yet</p>
<% end %>

<h3>Add Tags</h3>
<%= form_tag (tag_add_pantry_item_path(@pantry_item)) do %>
  <table>
    <thead>
      <th>Add?</th>
      <th>Tag</th>
    </thead>
    <tbody>
      <% (Tag.all.order("name") - @pantry_item.tags).each do |tag| %>
        <tr>
          <td><%= check_box_tag "tags[]", tag.id %></td>
          <td><%= tag.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= submit_tag "Add Tag(s)" %>
<% end %>
