<%= form_for (tag) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <br>
  <%= f.submit "Add Tag", class: "btn btn-large btn-primary" %>
<% end %>
