<h1><%= @tag.name %></h1>
<% if @tag.recipes.count > 0 %>
  <% tagarr = @tag.recipes.sort_by &:name %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Recipe Name</th>
      </tr>
    </thead>
    <tbody>
      <% for recipe in tagarr do %>
      <tr>
        <td><%=link_to recipe.name, recipe %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no recipes with this tag.
<%end %>

<% if @tag.pantry_items.count > 0 %>
  <% tagarr = @tag.pantry_items %>
  <table class = "table table-bordered">
    <thead>
      <tr>
        <th>Pantry Items</th>
      </tr>
    </thead>
    <tbody>
      <% for pantry_item in tagarr do %>
        <tr>
          <td><%= pantry_item.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no pantry items with this tag.
<% end %>

<footer class = "footer">
  <nav>
    <ul>
      <li><%= link_to 'Back', tags_path %></li>
    </ul>
  </nav>
</footer>
