@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 40px;
}

/* table */
th {
    background-color: #f36f2d;
    color: white;
    text-align: center;
}

/* navbar */
.navbar-default {
  background-color: #e44dbd;
  /*border-color: #4478ad; #59b662*/
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}

/* flash */
.alert {
  margin-top: 18px;
  padding: 4px 4px 4px 4px;
}

/* error display in forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* form */
.form-control {
    width:500px;
}

/* Recipe display */
#contentbox {
    margin: 0 auto;
    width: 100%;

    .ingredients {
       float: left;
       width: 33%;
       background-color: #3eeff5;
       padding-left: 1%;
       padding-right: 1%;
    }

    .directions {
        float: left;
        width: 67%;
        background-color: #3ef570;
        padding-left: 1%;
        padding-right: 1%;
    }
}

.recipe-name {
  text-align: center;
  background-color: red;
  border-style: solid;
  border-width: 1px;
}

.notes {
  width: 100%;
  display: inline-block;
  page-break-after: always;
  background-color: #d47cfa;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer ul {
  float: left;
  list-style: none;
  padding-left:0;
}
footer ul li {
  float: left;
  margin-right: 20px;
}
