// Place all the styles related to the MealPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h5 {
  text-indent: 30px;
}

h6 {
  text-indent: 60px;
}
