<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Meal Plans", meal_plans_path %></li>
        <li><%= link_to "Pantry Items", pantry_items_path %></li>
        <li><%= link_to "Tags", tags_path %></li>
        <li><%= link_to "Recipes", recipes_path %></li>
      </ul>
    </nav>
  </div>
</header>
